{% extends 'base.html' %}
{% block content %}


<header id="header"><H1 align='center' >Welcome To Entry Exit Management System</H1></header>
<div id="container">

		<main id="center" class="column">
			<article><h4><a href="entries">Record Of Entry And Exit </h4>
			<h4><a href="regis">Gaurd Registration Form</a></h4>
			</article>								
		</main>
		<nav id="left" class="column">
			<h3><a href="index" ><b>Home</b></h3>	
			<h3><a href="home" ><b>Director section</b> </a></h3>
			
			<h3><a href="logout">Logout</h3>
		</nav>

			<div id="right" class="column">
			<h3>Credit</h3>
			<div class="loading"  >
      <span>AVNISH...</span>
    </div>
	</div>
	</div>
	
	<div id="footer-wrapper">
		<footer id="footer"><p align="center" >Copyright © 2019 All rights reserved by Compufy Technology<p></footer>
	</div>
{% endblock %}