<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>ENTRY EXIT</title>

</head>
{% extends 'base.html' %}
{% block content %}

	<header id="header"><H1 align='center' >Welcome to Entry Exit Management System</H1></header>

	<div id="container">

		<main id="center" class="column">
			<article>
			
				<h2>Director Section</h2>
				<p>Director Can Add/Remove/Edit Gaurd Account & Also have full access of Website They Can Delete or fetch all the entries updated by gaurd</p>
				<h2>Gaurd Section</h2>
				<p>Contains a major part that was register the visitor details and update the entry time & exit time </p>
			</article>								
		</main>

		<nav id="left" class="column">
			<h3><a href="director" ><b>Director section</b> </a></h3>
									
			<h3><a href="gaurd" ><b>Guard section</b></h3>
			
		</nav>

		<div id="right" class="column">
			<h3>Credit</h3>
			<div class="loading"  >
      <span>AVNISH...</span>
    </div>
		</div>

	</div>
{% endblock %}

</html>